<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- # Stylesheet -->
    <link rel="stylesheet" href="{{url_for('static', filename='water.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Todo App</title>
</head>
<body>
    <h1>Todo App</h1>

    <!-- # Ausdrücke werden in doppelte geschweifte Klammern gesetzt -->
    {#    {{ tasks }}#}
    <ul>
        {% for task in tasks %}
        <li>
            {{ task.content }}
            <a href='{{url_for("delete", id=task.id)}}'>DELETE</a>
            <!-- # Updatelink ergänzt -->
            <a href='{{url_for("update", id=task.id)}}'>UPDATE</a>
        </li>
        {% endfor %}
    </ul>

    <!-- # Formular -->
    <h2>Task hinzufügen</h2>
    <form action="" method="post">
        <label for="content">Inhalt:</label>
        <input type="text" name="content" id="content" placeholder="Neuer Task">
{#        <input type="submit" value="Add">#}
        <button type="submit">Add</button>
    </form>

</body>
</html>